---
import MainLayout from "../../layouts/MainLayout.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";

---

<MainLayout>
    <h1>Page is coming soon.</h1>

    <a href="/gallery" class="inline-block bg-indigo-700 p-2 mb-6 hover:bg-indigo-500 text-white hover:text-white">Back to homepage</a>
    <br />

  
  
  </MainLayout>