---
import MainLayout from "../../layouts/MainLayout.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";

---
<MainLayout>
  <p>Developed with AstroJS - React - MD and a bit of love!</p>


</MainLayout>