---
import MainLayout from "../layouts/MainLayout.astro"
import { Image } from 'astro:assets';
import error from '../images/error-404.png'
---

<MainLayout title="404 - Page Not Found">
  <div class="flex flex-col items-center justify-items-center gap-7">
    <Image src="https://i0.wp.com/bedfordcollegegroup.ac.uk/uploads/sites/2/2023/08/rsz_adobestock_357989867.jpg?fit=4140%2C2760&ssl=1&w=1500&quality=85" alt="404" height={600} width={650} class="mt-10" />
    <h1 class="text-5xl">Uh oh!</h1>
    <p class="text-2xl mb-10">
      It appears there is a 404 error!. Network Rail are onsite to fix the issue ;)
    </p>
    <a href="/" class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white">Go Back To Safety.</a>
  </div>
</MainLayout>