---
import MainLayout from "../layouts/MainLayout.astro";
import SearchForm from "../components/SearchForm.astro";
import ArticleCard from "../components/ArticleCard.astro";
import MostRecentArticle from "../components/MostRecentArticle.astro";
import { HOMEPAGE_ARTICLE_LIMIT } from "../constants";

import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((a:CollectionEntry<'blog'>, b:CollectionEntry<'blog'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const mostRecentArticle: CollectionEntry<'blog'> = allBlogArticles[0];

const otherArticles: CollectionEntry<'blog'>[] = allBlogArticles.slice(1);
---
<MainLayout>
  <style>
    h1 {
      font-family: 'Lemon', serif;
    }
</style>
  <!-- Top Grid -->
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div>
      <h1  class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl text-center text-blue-800 font-system font-Lemon, serif;
      ">
        Rail Gallery UK 
      </h1>
      <h1  class=" font-bold mt-4 mb-8 leading-tight xl:text-2xl text-center text-black-800 font-system font-Lemon, serif;
      ">
        Railway Gallery UK is the brand new website for railway pictures from across the world.
      </h1>

      <SearchForm />
    </div>
   
    <MostRecentArticle article={mostRecentArticle} />
  </div>

<div class="w-auto pt-3">
  <div class="p-4 mb-4 text-sm text-white rounded-lg bg-blue-900 dark:bg-gray-800 dark:text-blue-400" role="alert">
   <span class=" text-center font-medium">Information!</span> Please submit pictures  <a class="font-bold"href="/submit">here</a>
  </div>
</div>
  <!-- Main Grid -->
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    
   {otherArticles.slice(0, HOMEPAGE_ARTICLE_LIMIT).map(article => (
    <ArticleCard article={article} />
   ))}
  </div>
</MainLayout>